.about {
	position: absolute;
	margin: 0 ;
	padding: 0;
	top: 0 ;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	line-height: 1.2;
	z-index: -1;
}

.bio {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 50%;
	height: 650px;
	overflow: hidden;
	overflow-y: scroll;
	background-color: rgba(197, 197, 197, 0.5);
	border-radius: 15px;
	padding: 0.5rem 1rem;
}

.title {
	font-size: 3.5rem;
	font-family: 'DD-Regular';
}
