/* Header */
.navbar {
	z-index: 99999999;
}

.navbar__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* FilterBar */
.filter__bar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}


/* SearchByWords */
.search {
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgb(131, 131, 131);
	border-radius: 15px;
	padding: 0.5rem 1rem;
}

.search input[type='text'] {
	flex-grow: 1;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-right: 10px;
	outline: none;
	color: rgb(0, 0, 0);
	font-size: 1rem;
	font-family: 'Whyte-Light';
	font-weight: 700;
}

.search__icon {
	width: 20px;
	height: 25px;
}

.results {
	display: flex;
	font-size: 1rem;
	align-items: center;
	border: 1px solid rgb(131, 131, 131);
	border-radius: 15px;
	padding: 0.72rem 1rem;
	color: rgb(131, 131, 131)
}

.listOption {
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgb(131, 131, 131);
	border-radius: 15px;
	padding: 0.5rem 1rem;
}

/* Years & Categories */

.dropdown-container {
	position: relative;
	width: 220px;
	margin: 0 auto;
}

.custom-select {
	display: flex;
	flex-direction: column;
	width: 100%;
	cursor: pointer;
	position: relative;
}

.selected-value {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s ease;
	background-color: rgb(131, 131, 131);
	border-radius: 15px;
	padding: 0.5rem 1rem;
}

.options {
	list-style: none;
	padding: 0;
	margin-top: 50px ;
	border-radius: 15px;
	background-color: rgb(131, 131, 131);
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.options li {
	padding: 10px 15px;
	transition: background-color 0.3s ease;
}

.options li:hover {
	background-color: #494949;
}

.open .options {
	display: block;
}
