/* filter bar
*/

.filter__bar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	z-index: 99999999;
}
/* search */
.search {
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(197, 197, 197, 0.5);
	border-radius: 15px;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}

.search input[type='text'] {
	flex-grow: 1;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-right: 10px;
	outline: none;
	color: rgb(0, 0, 0);
	font-size: 1rem;
	font-family: 'Whyte-Light';
	font-weight: 700;
}

.search__icon {
	width: 20px;
	height: 25px;
}

.results{
    display: flex;
    font-size: 1rem;
    align-items: center;
    border: 1px solid #ccc;
	border-radius: 15px;
	padding: 0.75rem 1rem;
    margin-bottom: 1rem;
}


.listOption {
    display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(197, 197, 197, 0.5);
	border-radius: 15px;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}


/* years & categories */

.custom-select {
	display: flex;
	font-size: 1rem;
	width: 230px;
	border-radius: 15px;
	margin-bottom: 1rem;
	z-index: 9999999;
}


.selected-value {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.options {
	position: absolute;
	top: 100%;
	margin-top: 0.5rem;
	left: 0;
	padding: 0.5rem 1.2rem;
	display: none;
	list-style: none;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgb(203, 203, 203);
	border-radius: 15px;
	z-index: 99999;
	width: 100%;
}

.options li {
	padding-top: 0.25rem;
}

.options li:hover {
	color: red;
}
.custom-select .options {
	display: none;
}

.custom-select.open .options {
	display: block;
}

