.image-container {
	
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.image-container img {
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.title__intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.5rem;
	padding-bottom: 1rem;
}
.name__type {
	display: flex;
	gap: 0.5rem;
	color: var(--text-color-dark);
}

.name__type div {
	font-size: 0.7rem;
	padding: 5px 8px 5px 8px;
	display: flex;
	border-radius: 34px;
	border: 1px solid var(--text-color-dark);
	background-color: transparent;
}
.vimeo-wrapper {
	display: block;
	height: 0;
	overflow: hidden;
	padding: 0;
	padding-bottom: 56%;
	position: relative;
}

.vimeo-wrapper iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scale: 1.07;
	border: 0;
}
