.slider-container {
	overflow: hidden;
	border-radius: 12px;
	height: 100vh;
}

.slider-item {
	width: 100%;
	height: 100%;
}

.slider-item img,
.slider-item video {
	width: 100%;
	object-fit: cover;
	
}

.slick-slider {
	width: 100%;
	height: 100%;
}

.slick-track {
	display: flex;
}
