@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--background-color-light: #fff;
	--background-trans-light: rgba(255, 255, 255, 0.95);
	--text-color-light: #333;
	--shadow-light: rgba(0, 0, 0, 0.25);

	--background-color-dark: #333;
	--background-trans-dark: rgba(51, 51, 51, 0.95);
	--text-color-dark: #fff;
	--shadow-dark: rgba(255, 255, 255, 0.25);
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: 'Whyte', sans-serif;
	letter-spacing: -0.5px;
	font-weight: 400;
	line-height: 1;
	background-color: var(--background-color-light);
	transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
	background-color: var(--background-color-dark);
}
a {
	text-decoration: none;
	color: var(--text-color-light);
	transition: color 0.3s;
}
body.dark-mode .index {
	background-color: rgba(50, 50, 50, 0.5);
}
body.dark-mode a {
	color: var(--text-color-dark);
}

.dark-mode {
	color: var(--text-color-dark);
}

.margin-general {
	margin: 0.75rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a.active,
button.active {
	color: var(--background-color-light);
}

.dark-mode .search input[type='text'] {
	color: var(--text-color-dark);
}
input::placeholder {
	color: var(--text-color-light);
}

.dark-mode input::placeholder {
	color: var(--text-color-dark);
}

.dark-mode .darkOptions {
	background-color: #7c7c7c;
	box-shadow: 0px 0px 12px #0000007a;
}

.OptionsHover:hover {
	background-color: #7c7c7c;
}

.dark-mode .OptionsHover:hover {
	background-color: #494949;
}

.darkOptions {
	box-shadow: 0px 0px 12px #0000007a;
}
.darkBorder {
	border: 1px solid var(--text-color-light);
}
.dark-mode .darkBorder {
	border: 1px solid var(--text-color-dark);
}

.dark-mode .name__type div {
	border: 1px solid var(--text-color-dark);
}

/*? COMPONENTS:: GALLERY */
.swiper {
	position: absolute;
	height: calc(100vh - 1.5rem);
	width: 100%;
	border-radius: 12px;
}

.swiper-slide img {
	display: block;
	height: calc(100vh - 1.5rem);
	width: 100%;
	aspect-ratio: 3 / 1;
	object-fit: cover;
}

.swiper-slide video {
	display: block;
	object-fit: cover;
	border: none;
	width: 100%;
	height: calc(100vh - 1.5rem);
	background-color: #333;
	overflow: hidden;
}

/* DONE */
.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.grid-area-1 {
	grid-area: 1 / 1 / 6 / 4;
}

.grid-area-2 {
	grid-area: 1 / 4 / 6 / 5;
}
